.DS_Store
Thumbs.db
db.json
*.log
node_modules/
public/
.deploy*/

# CMake
cmake-build-debug
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
